@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;

}

.list{
    display: flex;
    list-style: none;
    gap: 40px;

}
.list-li{
    font-family: poppins;
    font-weight: 500px;
    font-style: Medium;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}
.list a{
    text-decoration: none;
    color: rgb(40,37,37,1);       
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
}
.logo img{
    width: 40px;
    height: 40px;

}

.active{
    color: red !important;
}
.nav-menu{
    display: flex;
    gap: 50px;
}
.nav-menu img{
    width: 25px;
    height: 25px;
}